body {
    color : #00FF73;
    background-color: #000000;
    font-family : "consolas",sans-serif;
}
h1 {
    color : #FFFFFF;
    font-family :"Press Start 2p" , "consolas" , sans-serif;
}
h2 {
    color : #FFFFFF;
}
p {
    color : #00FF73;
    font-family : "consolas",sans-serif;
}
ul {
    list-style-type : none;
}

a {
    text-decoration:none ;
    color : #00FF73;
}
a:hover {
    color : green;
}



/*Gray theme*/
/*body {
    background-color: rgb(25, 25, 25); 
    color:rgb(184, 184, 184);
    font-family : "consolas",sans-serif;
}
h1 {
    color : #dbdbdb;
    font-family :"Press Start 2p" , "consolas" , sans-serif;
}
h2 {
    color : #d6d6d6;
}
p {
    font-family : "consolas",sans-serif;
}
ul {
    list-style-type : none;
}

a {
    text-decoration:none ;
    color : rgb(184, 184, 184);
}
a:hover {
    color : rgb(100, 100, 100);
}*/
/* CSS */
/*body {
  margin: 0;
  padding: 0;
  background-image: url('https://static.animecorner.me/2021/11/one-piece-merged-volumes-covers.jpg'); /* Replace 'your-image.jpg' with the path to your image */
  /*background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;*/ /* This ensures the background covers the entire viewport height */
}*/
