body {
    font-family: 'Arial', sans-serif; /* Change the font style */
    background-color: #222; /* Dark background color */
    text-align: center;
    margin: 0;
    padding: 0;
    color: darkgray; /* Text color */
}

#header {
    background-color: #111; /* Darker header background */
    padding: 10px;
}

.choiceBtn {
    line-height: 40px;
    width: 150px;
    font-size: 16px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #444; /* Darker button background */
}

.choiceBtn:hover {
    background-color: #555; /* Button hover color */
}

#gameDiv {
    border: 3px solid #111; /* Darker border color */
    border-radius: 25px;
    padding: 20px;
    background-color: #333; /* Dark game background */
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
}

#playerText {
    color: lightgray; /* Player text color */
}

#computerText {
    color: lightgray; /* Computer text color */
}
