body {
    font-family : "consolas",sans-serif;
}
h1 {
    font-family :"Press Start 2p" , "consolas" , sans-serif;
}
p {
    
    font-family : "consolas",sans-serif;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5; /* Adjust line height as needed */
}



.container a:hover {
    color: gray !important;
}


/*Gray theme*/
/*body {
    background-color: rgb(25, 25, 25); 
    color:rgb(184, 184, 184);
    font-family : "consolas",sans-serif;
}
h1 {
    color : #dbdbdb;
    font-family :"Press Start 2p" , "consolas" , sans-serif;
}
h2 {
    color : #d6d6d6;
}
p {
    font-family : "consolas",sans-serif;
}
ul {
    list-style-type : none;
}

a {
    text-decoration:none ;
    color : rgb(184, 184, 184);
}
a:hover {
    color : rgb(100, 100, 100);
}*/
